div.nav {
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
	margin: 1%;
	font-family: Georgia;
	color: white;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	text-shadow: 3px 3px 5px black;
}
img.fb {
	float: right;
	width: 5%; 
	height:5%;
}
img.sc {
	margin-right: 1.5%;
	float: right;
	width: 5%; 
	height:5%;
}	
body {
	background-image: url("images/rp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
div.left {
	float: left;
	width: 60%;
	color: white;
	font-family: Georgia;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 3px 3px 5px black;
}
div.right {
	float: right;
	width: 40%;
	text-align: right;
}
form {
	padding: 3%;
	margin: 1%;
	color: white;
	font-family: Georgia;
	font-weight: bold;
	text-shadow: 3px 3px 5px black;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 36px;
}
p {
	color: #f0f9ff;
	font-size: 20px;
}
ul {
	color: #f0f9ff;
	font-size: 20px;
}

	


	